.main {
  width: calc(100vw - 237px);
  height: 100%;
  padding: 53px 0 0 83px;
  overflow-y: auto;

  h3 {
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 500;
    color: #4f4f4f;
    margin-bottom: 28px;
  }

  .p-footer {
    font-family: "Ubuntu Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #828282;
    margin: 15px;
  }

  .main-variants {
    display: flex;
    flex-direction: column;

    .row-variant {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin-bottom: 45px;
      min-width: 300px;
      max-width: 600px;

      .cel-variant {
        display: flex;
        flex-direction: column;

        .describe-btn {
          font-family: "Ubuntu Mono";
          font-size: 12px;
          font-weight: 400;
          margin-bottom: 12px;
        }
      }
    }
  }
}
